.playlist .song__index {
  transition: opacity 150ms ease;
  margin: 6px 12px;
  padding: 0;
  opacity: 1;
  min-width: 1.5em;
}

.song__cover {
  border-radius: 6px;
  border: 1px solid @card_shade_color;
}

.album__tracks .song__cover {
  opacity: 0;
}

.song--playing .song__icon {
  opacity: 1;
}

.song__icon,
.song__checkbox,
.song--playing .song__index,
.song--playing .song__cover,
.playlist--selectable .song__index,
.playlist--selectable .song__cover,
.playlist--selectable .song__icon {
  transition: opacity 150ms ease;
  opacity: 0;
}


.playlist--selectable .song__checkbox,
.playlist--selectable .song__checkbox check {
  opacity: 1;
  filter: none;
}


row:hover .song__menu--enabled, .song__menu--enabled:checked {
  opacity: 1;
}


/* Song Labels */
.song--playing label.title {
  font-weight: bold;
}

/* "Context Menu" */
.song__menu {
  opacity: 0;
}

.song__menu--enabled {
  opacity: 0.2;
}


/* Song boxed list styling */

.playlist {
  background: transparent;
}

.playlist row {
  background: @card_bg_color;
  margin-left:12px;
  margin-right:12px;
  box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.07), -1px 0px 3px rgba(0, 0, 0, 0.07);
  transition: background-color 150ms ease;
}

.playlist row:hover {
background-image: image(alpha(currentColor,0.03));
}
.playlist row:active {
background-image: image(alpha(currentColor,0.08));
}


.playlist row:first-child {
 margin-top: 12px;
 border-radius: 12px 12px 0 0;
}

.playlist row:last-child {
 margin-bottom: 12px;
 border-bottom-color:rgba(0, 0, 0, 0);
 border-radius: 0 0 12px 12px;
 box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.21);
}

.playlist row:only-child {
 margin-top: 12px;
 margin-bottom: 12px;
 border-radius: 12px 12px 12px 12px;
}

