.playlist .song__index {
  transition: opacity 150ms ease;
  margin: 6px 12px;
  padding: 0;
  opacity: 1;
  min-width: 1.5em;
}

.song__cover {
  border-radius: 6px;
  border: 1px solid @card_shade_color;
}

.album__tracks .song__cover {
  opacity: 0;
}

.song--playing .song__icon {
  opacity: 1;
  animation: playing 1.1s linear infinite;
  color: @accent_bg_color;
  min-width: 16px;
}

@keyframes playing {
    0% { -gtk-icon-source: -gtk-icontheme("playback-0-symbolic"); }
    6% { -gtk-icon-source: -gtk-icontheme("playback-1-symbolic"); }
    12% { -gtk-icon-source: -gtk-icontheme("playback-2-symbolic"); }
    18% { -gtk-icon-source: -gtk-icontheme("playback-3-symbolic"); }
    24% { -gtk-icon-source: -gtk-icontheme("playback-4-symbolic"); }
    30% { -gtk-icon-source: -gtk-icontheme("playback-5-symbolic"); }
    36% { -gtk-icon-source: -gtk-icontheme("playback-6-symbolic"); }
    42% { -gtk-icon-source: -gtk-icontheme("playback-7-symbolic"); }
    49% { -gtk-icon-source: -gtk-icontheme("playback-8-symbolic"); }
    54% { -gtk-icon-source: -gtk-icontheme("playback-9-symbolic"); }
    60% { -gtk-icon-source: -gtk-icontheme("playback-10-symbolic"); }
    66% { -gtk-icon-source: -gtk-icontheme("playback-11-symbolic"); }
    72% { -gtk-icon-source: -gtk-icontheme("playback-12-symbolic"); }
    79% { -gtk-icon-source: -gtk-icontheme("playback-13-symbolic"); }
    85% { -gtk-icon-source: -gtk-icontheme("playback-14-symbolic"); }
    90% { -gtk-icon-source: -gtk-icontheme("playback-15-symbolic"); }
    96% { -gtk-icon-source: -gtk-icontheme("playback-16-symbolic"); }
    100% { -gtk-icon-source: -gtk-icontheme("playback-0-symbolic"); }
}

.song__icon,
.song__checkbox,
.song--playing .song__index,
.song--playing .song__cover,
.playlist--selectable .song__index,
.playlist--selectable .song__cover,
.playlist--selectable .song__icon {
  transition: opacity 150ms ease;
  opacity: 0;
}


.playlist--selectable .song__checkbox,
.playlist--selectable .song__checkbox check {
  opacity: 1;
  filter: none;
}


row:hover .song__menu--enabled, .song__menu--enabled:checked {
  opacity: 1;
}


/* Song Labels */
.song--playing label.title {
  font-weight: bold;
}

/* "Context Menu" */
.song__menu {
  opacity: 0;
}

.song__menu--enabled {
  opacity: 0.2;
}


/* Song boxed list styling */

.playlist {
  background: transparent;
}

.playlist row {
  background: @card_bg_color;
  margin-left:12px;
  margin-right:12px;
  box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.07), -1px 0px 3px rgba(0, 0, 0, 0.07);
  transition: background-color 150ms ease;
}

.playlist row:hover {
background-image: image(alpha(currentColor,0.03));
}
.playlist row:active {
background-image: image(alpha(currentColor,0.08));
}


.playlist row:first-child {
 margin-top: 12px;
 border-radius: 12px 12px 0 0;
}

.playlist row:last-child {
 margin-bottom: 12px;
 border-bottom-color:rgba(0, 0, 0, 0);
 border-radius: 0 0 12px 12px;
 box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.21);
}

.playlist row:only-child {
 margin-top: 12px;
 margin-bottom: 12px;
 border-radius: 12px 12px 12px 12px;
}

