.song__index {
  transition: opacity 150ms ease;
  font-size: 0.85rem;
  margin: 4px 12px;
  padding: 0;
  opacity: 1;
}

.song--cover .song__index {
  opacity: 0;
}

.song__icon, .song__checkbox {
  transition: opacity 150ms ease;
  opacity: 0;
}

.song--playing .song__index {
  opacity: 0;
}

.song--playing .song__icon {
  opacity: 1;
}

.playlist--selectable .song__index, .playlist--selectable .song__icon {
  opacity: 0;
}

.playlist--selectable .song__checkbox, .playlist--selectable .song__checkbox check {
  opacity: 1;
  filter: none;
}

.song__title {
  font-size: 1.15rem;
}

row {
  transition: background-color 150ms ease;
}

.song--playing label.song__title, .song--playing label.song__index {
  font-weight: bold;
}

.song label.song__artist {
  font-size: 0.85rem;
}

.song label.song__duration {
  font-size: 1rem;
  color: @insensitive_fg_color;
}

.song__menu {
  opacity: 0;
}

.song__menu--enabled {
  opacity: 0.2;
}

row:hover .song__menu--enabled, .song__menu--enabled:checked {
  opacity: 1;
}

.song--playing .song__cover, .playlist--selectable .song__cover {
  opacity: 0.2;
}