.song .song__index {
  font-size: 11px;
}

.song label.song__title {
  font-size: 16px;
}

.song--playing label.song__title {
  font-weight: bold;
}

.song--playing label {
  color: @theme_selected_bg_color;
}

.song label.song__artist {
  font-size: 14px;
}

.song__menu {
  opacity: 0
}

.song__menu--enabled {
  opacity: 0.2;
}

row:hover .song__menu--enabled, .song__menu--enabled:checked  {
  opacity: 1;
}