listview.artist__top-tracks {
  padding: 8px;
  border-radius: 8px;
  margin: 8px;
}

listview.artist__top-tracks row {
  border-radius: 4px;
}

.artist {
  transition: opacity .3s ease;
  opacity: 0;
}

.artist__loaded {
  opacity: 1;
}