.playlist_details label.playlist_details__name {
  font-size: 20px;
  font-weight: bold;
}

.playlist_details__owner label {
  font-size: 16px;
  color: @theme_text_color;
}

.playlist_details__owner {
  padding: 0;
}

.playlist_details .playlist_details__art {
  border-radius: 8px;
}

.playlist_details {
  transition: opacity 0.3s ease;
  opacity: 0;
}

.playlist_details--loaded {
  opacity: 1;
}

listview.playlist_details__songs {
  padding: 4px;
  border-radius: 8px;
}

listview.playlist_details__songs row {
  border-radius: 4px;
}