/* large style */

leaflet.unfolded .album .card {
  min-width: 200px;
  min-height: 200px;
  border-radius: 6px;
}

leaflet.unfolded .album {
  margin-top: 6px;
  margin-bottom: 6px;
}

leaflet.unfolded .album button {
 border-radius: 12px;
}
/* small style */

leaflet.folded .album .card {
  min-width: 100px;
  min-height: 100px;
  border-radius: 6px;
  margin-top: 0px;
  margin-bottom: 0px;
}

leaflet.unfolded .album {
  margin-top: 0px;
  margin-bottom: 0px;
}

leaflet.folded .album button {
 border-radius: 6px;
}
