/* large style */

navigation-split-view .album .card {
  min-width: 200px;
  min-height: 200px;
  border-radius: 6px;
}

navigation-split-view .album {
  margin-top: 6px;
  margin-bottom: 6px;
}

navigation-split-view .album button {
 border-radius: 12px;
}
/* small style */

navigation-split-view.collapsed .album .card {
  min-width: 100px;
  min-height: 100px;
  border-radius: 6px;
  margin-top: 0px;
  margin-bottom: 0px;
}

navigation-split-view .album {
  margin-top: 0px;
  margin-bottom: 0px;
}

navigation-split-view.collapsed .album button {
 border-radius: 6px;
}
