/* large style */

leaflet.unfolded .album .album__cover {
  min-width: 200px;
  min-height: 200px;
}

/* small style */

leaflet.folded .album .album__cover {
  min-width: 100px;
  min-height: 100px;
}

.album .album__cover {
  padding: 0;
  border-radius: 0;
}

.album label.album__title {
  font-size: 1.15rem;
  font-weight: bold;
}

.album label.album__artist {
  font-size: 1rem;
}

.album__cover image {
  border-radius: 4px;
  transition: all 100ms ease;
}

.album__cover:hover image {
  filter: brightness(1.15);
}
