.title-4 label {
  color: @window_fg_color;
  font-weight: bold;
  text-decoration: none;
}

.title-4 {
  padding: 0;
}


.title-4:hover {
  border-radius: 6px;
  background-image: image(alpha(currentColor, 0.03));
}

.album__header .like__button {
  margin-right: 6px;
}

.album__header .vertical {
  margin-left: 18px;
}

.album__header .card {
  margin-top: 18px;
  margin-left: 6px;
  margin-bottom: 6px;
}

clamp.details__clamp {
  background-color: @view_bg_color;
  box-shadow: inset 0px -1px 0px @borders;
}

headerbar.details__headerbar {
  box-shadow: none;
  transition: background-color .3s ease;
}

windowtitle.details__headerbar {
  transition: opacity .3s ease;
  opacity: 1;
}

windowtitle.details__headerbar.flat {
  opacity: 0;
}

.details__headerbar.flat {
  background-color: @view_bg_color;
}

