.details label.details__album-label {
  font-size: 20px;
  font-weight: bold;
}

.details label.details__artist-label {
  font-size: 16px;
}

.details .details__album-art {
  border-radius: 8px;
}

.details .details__like {
  font-size: 18px;
}

.details__more {
  padding: 0;
}

.details {
  transition: opacity 0.3s ease;
  opacity: 0;
}

.details--loaded {
  opacity: 1;
}
