label.details__album-label {
  font-size: 20px;
  font-weight: bold;
}

.details__more label {
  font-size: 16px;
  color: @theme_text_color;
}

.details .details__album-art {
  border-radius: 8px;
}

.details .details__like {
  font-size: 18px;
  font-weight: bold;
}

.details__more {
  padding: 0;
}

.details {
  transition: opacity 0.3s ease;
  opacity: 0;
}

.details--loaded {
  opacity: 1;
}

listview.details__songs {
  padding: 8px;
  border-radius: 8px;
}

listview.details__songs row {
  border-radius: 4px;
}

.info_btn {
  padding: 0;
}