[Desktop Entry]
Version=1.0
Name=Spot
Exec=spot
Icon=dev.alextren.Spot
Terminal=false
Type=Application
Categories=GTK;GNOME;Music;AudioVideo;
StartupNotify=true
X-Purism-FormFactor=Workstation;Mobile;
