@define-color accent_bg_color @green_5;

.notification {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.notification--shown {
  opacity: 1;
}

headerbar.selection-mode {
  background-color: @theme_selected_bg_color;
}

button.tool, menubutton.tool {
  -gtk-icon-size: 25px;
}

.song__list {
  background-color: @card_bg_color;
}