.notification {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.notification--shown {
  opacity: 1;
}

.seek-bar {
  padding: 0;
  padding-bottom: 2px;
  min-height: 0;
}

.seek-bar trough, .seek-bar highlight {
  border-radius: 0;
  border-left: none;
  border-right: none;
  min-height: 0;
}

.seek-bar--active trough, .seek-bar--active highlight {
  min-height: 5px;
}

.seek-bar highlight {
  border-left: none;
  border-right: none;
}