@define-color accent_bg_color @green_5;
@define-color accent_color @green_3;

.notification {
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 6px;
}

.notification--shown {
  opacity: 1;
}

headerbar.selection-mode {
  background-color: @theme_selected_bg_color;
}

.playlist {
  background-color: @card_bg_color;
}

.container {
  transition: opacity 0.3s ease;
  opacity: 0;
}

.container--loaded {
  opacity: 1;
}