.notification {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.notification--shown {
  opacity: 1;
}

.seek-bar {
  padding: 0;
  padding-bottom: 2px;
  min-height: 1px;
}

.seek-bar trough, .seek-bar highlight {
  border-radius: 0;
  border-left: none;
  border-right: none;
  min-height: 1px;
  transition: min-height 100ms ease;
}

.seek-bar--active trough, .seek-bar--active highlight {
  min-height: 5px;
}

.seek-bar--active:hover trough, .seek-bar--active:hover highlight {
  min-height: 10px;
}

.seek-bar highlight {
  border-left: none;
  border-right: none;
}

.playback-button {
  -gtk-icon-size: 28px;
  min-width: 40px;
  min-height: 40px;
}

headerbar.selection-mode {
  background-color: @theme_selected_bg_color;
}

button.tool, menubutton.tool {
  -gtk-icon-size: 25px;
}