name: spot-snapshots

on:
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  flatpak-builder:
    name: "Flatpak Builder"
    runs-on: ubuntu-latest
    container:
      image: bilelmoussaoui/flatpak-github-actions:gnome-40
      options: --privileged
    steps:
    - uses: actions/checkout@v2
    - uses: bilelmoussaoui/flatpak-github-actions/flatpak-builder@v3
      with:
        bundle: "spot.flatpak"
        manifest-path: "dev.alextren.Spot.snapshots.json"
        run-tests: true
